# 가상환경 폴더 (팀원들과 공유하지 않음)
my_env/
venv/
.env
media/

# 파이썬 실행 시 생성되는 캐시 파일
__pycache__/
*.pyc
*.pyo
*.pyd

# 데이터베이스 (개인 테스트 데이터가 들어있으므로 제외 권장)
# db.sqlite3

# 맥(Mac) 시스템이 자동으로 생성하는 숨김 파일
.DS_Store

# IDE(VScode) 설정
.vscode/db.sqlite3
